.surface-row {
  display: flex;
  justify-content: center;
}

.surface-col {
  width: 100px;
  height: 100px;
}

.surface-elem {
  align-items: center;
  justify-items: center;
  background-color: rgba(214, 14, 16, 0.31);
  transition: background 0.2s;
  height: 100px;
  width: 100px;
}
.img-rover {
  width: 100px;
  height: 100px;
}

.img-surface {
  width: 100px;
  height: 100px;
}


.commands {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.map button{
  font-size: medium;
}

h1{
  text-align: center;
}
